/* Global Styles */
body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

/* Authentication Container */
.auth-container {
    background-color: var(--secondary-color);
    padding: 40px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.auth-container h1 {
    margin-bottom: 20px;
    color: var(--primary-color);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
}

.error-message {
    color: red;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: var(--hover-color);
}

.content {
    display: contents;
}