/* Bot Type Selector Styling */
.bot-type-selector {
    display: flex;
    justify-content: center; /* Centers the items horizontally */
    align-items: center; /* Centers the items vertically */
    padding: 5px;
    background-color: var(--secondary-color);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    max-width: 300px; /* Adjust the width as needed */
    /* Align to the left */
    /* Center horizontally */
    margin: 20px auto;
}

.bot-type-selector p {
    flex: 1;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    font-weight: bold;
    color: var(--primary-color);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 20px; /* Ensure rounded corners */
}

.bot-type-selector p:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--hover-color);
}

/* Active State Styling */
.bot-type-selector p.active {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
