/* CSS Variables for Bots */
:root {
    --card-background: var(--secondary-color);
    --card-padding: 20px;
    --card-margin: 10px;
    --card-width: 300px;
    --card-border-radius: 10px;
    --card-box-shadow: var(--box-shadow);
    --card-hover-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    --card-title-color: var(--primary-color);
    --proxy-up-color: green;
    --proxy-down-color: red;
    --specific-field-background: #f2f2f2;
    --selector-padding: 5px;
    --selector-border-radius: 20px;
}

/* Bot Cards Container */
.bot-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--card-margin);
    padding: var(--card-padding);
}

.bot-card:hover {
    transform: translateY(-10px);
    box-shadow: var(--card-hover-box-shadow);
}

a {
    text-decoration: none;
}

.bot-card h3 {
    margin-top: 0;
    color: var(--card-title-color);
}

.bot-card p {
    margin: 10px 0;
    color: var(--text-color);
}

/* Proxy Status Styles */
.status-up {
    color: var(--proxy-up-color);
    font-weight: bold;
}

.status-down {
    color: var(--proxy-down-color);
    font-weight: bold;
}


/* Bot Card Styling */
.bot-card {
    background-color: var(--card-background);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-box-shadow);
    width: var(--card-width);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bot-card:hover {
    transform: translateY(-10px);
    box-shadow: var(--card-hover-box-shadow);
}

.bot-card h3 {
    margin-top: 0;
    color: var(--card-title-color);
}

.bot-card p {
    margin: 10px 0;
    color: var(--text-color);
}

/* Bot Type Selector Styling */
.bot-type-selector-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: fit-content;
}

.bot-type-selector {
    display: flex;
    align-items: center;
    padding: var(--selector-padding);
    background-color: var(--secondary-color);
    border-radius: var(--selector-border-radius);
    box-shadow: var(--box-shadow);
    width: max-content; /* Ensures the selector is only as wide as its content */
}

.bot-type-selector p {
    flex: none;
    text-align: center;
    margin: 0 5px; /* Add some spacing between the elements */
    padding: 10px 20px; /* Increase padding for better spacing */
    font-weight: bold;
    color: var(--primary-color);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: var(--selector-border-radius); /* Ensure rounded corners */
}

.bot-type-selector p.active {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* Hover Effect */
.bot-type-selector p:hover:not(.active) {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Responsive Design for Bot Cards */
@media (max-width: 768px) {
    .bot-card {
        width: 100%;
    }
}
