.horizontal-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    height: 100%;
}

/* Button Styles */
.button {
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: var(--field-border-radius);
    padding: var(--field-padding);
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

.button:hover {
    background-color: var(--hover-color);
}