.horizontal-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    height: 100%;
}

/* Button Styles */
.button {
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: var(--field-border-radius);
    padding: var(--field-padding);
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

.button:hover {
    background-color: var(--hover-color);
}

/* Popup Overlay */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
}

.popup.hidden {
    display: none;
}

.popup-content {
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    padding: 20px;
    text-align: center;
    max-width: 400px;
    width: 90%;
}

.popup-content .horizontal-container {
    justify-content: center;
    gap: 20px;
}

.popup-content .button {
    width: auto;
}

/* Badge Styles */
.badge {
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    color: #fff;
}

.badge.success {
    background-color: #28a745; /* Green */
}

.badge.failed {
    background-color: #dc3545; /* Red */
}

.badge.pending {
    background-color: #ffc107; /* Yellow */
    color: #212529;
}

.badge.in-progress {
    background-color: #17a2b8; /* Cyan */
}

.badge.partial {
    background-color: #df7620;
}

.metadata {
    display: block;
    font-size: 12px;
    color: #6c757d;
    margin-top: 5px;
}

/* Overall Script Status */
.overall-status-container {
    margin: 20px 0;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Large Badge */
.badge.large {
    font-size: 16px;
    padding: 10px 15px;
}

.chat-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

details {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

summary {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

li:last-child {
    border-bottom: none;
}
