.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease;
}

.floating-button:hover {
    background-color: var(--hover-color);
}

.floating-button.stop-button {
    bottom: 70px; /* Adjust position for second button */
    background-color: #bb1111;
}

.floating-button.stop-button:hover {
    background-color: #e64e4e;
}
