/* Container */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: var(--field-border-radius);
    box-shadow: var(--box-shadow);
}

.container p {
    padding: 10px;
    text-align: center;
    width: 100%;
}

/* Heading Styles */
h1 {
    color: var(--primary-color);
    text-align: center;
}

/* Row Styles */
.row {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--field-margin);
    padding: 10px;
}

.splitted-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
    margin-top: 10px;
}

.splitted-row-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Field Label Styles */
.field-label {
    font-weight: var(--label-font-weight);
    margin-bottom: 5px;
}

.sub-field-label {
    font-weight: normal;
    font-size: 14px;
}


.required::after {
    content: " *";
    color: red;
}


/* Field Styles */
.input-field {
    background-color: var(--field-background);
    border: none;
    border-radius: var(--field-border-radius);
    padding: var(--field-padding);
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

/* Select Field Styles */
.select-field {
    background-color: var(--field-background);
    border: none;
    border-radius: var(--field-border-radius);
    padding: var(--field-padding);
    height: 2rem;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
}


textarea.input-field {
    resize: vertical; /* Allows vertical resizing only */
    overflow-y: auto; /* Adds vertical scrollbar when needed */
    word-wrap: break-word
}

/* Submit Button Styles */
.submit-button {
    background-color: var(--submit-button-background);
    color: var(--submit-button-color);
    border: none;
    border-radius: var(--field-border-radius);
    padding: var(--field-padding);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: var(--submit-button-hover-background);
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    .input-field {
        font-size: 14px;
    }

    .select-field {
        font-size: 14px;
    }
}
