/* Container Styles */
.script-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.script-header {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 20px;
}

.script-messages {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sortable-chosen {
    opacity: 0.5;  /* Полупрозрачность для выбранного элемента */
}

.sortable-ghost {
    position: absolute;  /* Позволяет элементу-призраку перемещаться */
    opacity: 1;  /* Призрак остается видимым */
    transform: translate3d(0, 0, 0);  /* Ускорение рендеринга и предотвращение мерцания */
    z-index: 1000;  /* Устанавливаем высокий z-index, чтобы элемент-призрак был поверх других элементов */
}

/* Message Styles */
.message-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 80%;
    will-change: transform;
}

.message {
    flex-grow: 1;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    box-shadow: var(--box-shadow);
    position: relative;
    padding-left: 50px; /* Adjust padding to make room for the reorder button */
    padding-right: 50px; /* Adjust padding to make room for the delete button */
}

.bot-select {
    width: 100%;
    padding: 10px;
    border-radius: var(--field-border-radius);
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.message-text {
    width: 100%;
    padding: 10px;
    border-radius: var(--field-border-radius);
    border: 1px solid #ccc;
    background-color: var(--field-background);
    color: #000;
    resize: vertical;
}

/* Floating and Action Button Styles */
.floating-button, .cancel-button, .save-button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 24px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-top: 20px;
}

.floating-button:hover, .cancel-button:hover, .save-button:hover {
    transform: scale(1.1);
}

.cancel-button, .save-button {
    position: fixed;
    bottom: 20px;
}

.cancel-button {
    left: 20px;
}

.save-button {
    right: 20px;
}

.cancel-button:hover, .save-button:hover {
    background-color: var(--hover-color);
}

/* Delete and Reorder Button Styles */
.delete-button {
    position: absolute;
    top: 10px;
    right: -40px; /* Position outside the container */
    background-color: #f44336; /* Red color for delete button */
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.delete-button:hover {
    background-color: #d32f2f;
    transform: scale(1.1);
}

.reorder-button {
    position: absolute;
    top: 50%;
    left: -40px; /* Position outside the container */
    transform: translateY(-50%); /* Center vertically */
    background-color: transparent;
    border: none;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.reorder-button:hover {
    transform: translateY(-50%) scale(1.1);
}

.reorder-button img {
    width: 35px; /* Adjust size as needed */
    height: 35px; /* Adjust size as needed */
    transition: transform 0.3s ease;
}

.reorder-button:hover img {
    transform: scale(1.1);
}

.message-container {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.message-container.dragging {
    opacity: 0.5;
}

.message-container.invisible {
    display: none;
}

.message-container + .message-container {
    margin-top: 10px;
}

.script-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    white-space: nowrap;
}

.script-details label {
    margin-bottom: 5px;
    margin-left: 12px;
    padding-right: 15px;
    font-weight: bold;
    font-size: 16px;
    color: var(--primary-color);
}

.script-details input {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-size: 16px;
    /*width: 100%;*/
    box-sizing: border-box; /* Ensures padding is included in the element's total width and height */
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input::placeholder {
    color: var(--text-color);
    opacity: 0.6;
}

input:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1); /* Inner shadow effect */
}

.script-details-field {
    padding: 20px 20px 0;
    box-sizing: border-box;
}

.list {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  gap: 10px 0;
}

.list__item {
  width: 100%;
  background: white;
  padding: 15px;
  border-radius: 5px;
  color: #001d29;
  font-weight: 500;
  font-size: 18px;
  box-shadow: 0 4px 6px -1px #001d2910, 0 2px 4px -2px #001d2910;
  display: flex;
  align-items: center;
  position: relative;
  will-change: transform;
}

.drag-handle {
  position: absolute;
  right: 0;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drag-handle::after {
  content: '⠿';
  font-size: 25px;
  color: #00000099;
}

.list__item.is-idle .drag-handle {
  cursor: grab;
}

.list__item.is-idle {
  transition: 0.25s ease transform;
}

.list__item.is-draggable,
.list__item.is-draggable .drag-handle {
  cursor: grabbing;
}

.list__item.is-draggable {
  z-index: 10;
}

.custom-select-wrapper {
    position: relative;
    display: inline-block;
    width: 200px;
}

.custom-select {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-size: 16px;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.custom-select span:first-child {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-select:hover, .custom-select:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1); /* Inner shadow effect */
}

.custom-select-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--secondary-color);
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.1); /* Inner and outer shadow for dropdown */
    z-index: 10;
    display: none;
    flex-direction: column;
    margin-top: 5px;
}

.custom-select-options.active {
    display: flex;
}

.custom-select-option {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 15px; /* Increased padding for a more voluminous look */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Adjusted for smoother transition */
    border-radius: 0; /* Reset border-radius for all */
}

.custom-select-option:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.custom-select-option:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.custom-select-option:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.custom-select-option.active {
    background-color: var(--primary-color);
    color: #fff;
}

@media screen and (max-width: 768px) {
    .custom-select {
        font-size: 12px;
        padding: 10px;
    }

    .custom-select-options {
        font-size: 12px;
    }

    .custom-select-option {
        padding: 10px;
    }

}

@media (max-width: 1050px) {
    .script-details {
        flex-direction: column;
        gap: 10px;
    }
}

/* Responsive Design */
@media (max-width: 600px) {
    .script-container {
        padding: 10px;
    }

    .script-messages {
        padding: 10px;
    }

    .action-buttons {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
}
