aio-pika==9.4.2
aiormq==6.8.0
annotated-types==0.7.0
click==8.1.7
idna==3.7
joblib==1.4.2
multidict==6.0.5
nltk==3.8.1
pamqp==3.3.0
pyaes==1.6.1
pydantic==2.8.2
pydantic-settings==2.3.4
pydantic_core==2.20.1
Pyrogram==2.0.106
PySocks==1.7.1
python-dotenv==1.0.1
regex==2024.7.24
TgCrypto==1.2.5
tqdm==4.66.4
typing_extensions==4.12.2
yarl==1.9.4

Telethon~=1.36.0