<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link href="{{ url_for('static', path='/base.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %} {% endblock %}
</head>
<body>
<nav>
    <ul>
        <li><a href="/bots/new">New bot</a></li>
        <li><a href="/bots">My bots</a></li>
        <li>Prompts</li>
        <li>Chat</li>
    </ul>
</nav>
<div id="content">
    {% block content %} {% endblock %}
</div>
</body>
</html>