<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link href="{{ url_for('static', path='/base.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    {#
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    #}
    {#
    <script src="{{ url_for('static', path='/scripts/tg_login.js') }}"></script>
    #}
    {% block head %} {% endblock %}
</head>
<body>
<nav class="topnav" id="myTopnav">
    <a href="/bot/new">New bot</a>
    <a href="/bots">My bots</a>
    <a href="/campaigns">Campaigns</a>
    <a href="/gpt">GPT settings</a>
    <a href="/chats">Chat</a>
    <a href="javascript:void(0);" class="icon" onclick="toggleNav()">
        <i class="fa fa-bars"></i>
    </a>
</nav>

<script>
    function toggleNav() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>
<div id="content" class="content">
    {% block content %} {% endblock %}
</div>
</body>
</html>