{% extends 'base.html' %}

{% block head %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const selectors = document.querySelectorAll('.bot-type-selector p');
            selectors.forEach(selector => {
                selector.addEventListener('click', function() {
                    selectors.forEach(s => s.classList.remove('active')); // Remove active class from all
                    this.classList.add('active'); // Add active class to clicked element
                    window.location.href = this.getAttribute('data-url');
                });
            });
            document.querySelector('#{{ active }}').classList.add('active');
        });
    </script>
    <link href="{{ url_for('static', path='/bots.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="bot-type-selector-container">
        <div class="bot-type-selector">
            <p id="managers" data-url="/bots/managers">Managers</p>
            <p id="parsers" data-url="/bots/parsers">Parsers</p>
        </div>
    </div>
    <div class="bot-cards">
        {% for bot in bots %}
            <a href="/bot/{{ bot.nickname }}">
                <div class="bot-card">
                    <h3>{{ bot.nickname }}</h3>
                    <p><strong>Scope:</strong> {{ bot.scope }}</p>
                    {% block specific_fields %}
                    {% endblock %}
                    <p><strong>Proxy:</strong>
                        {% if bot.proxy_status %}
                            <span class="bot-proxy-up">{{ bot.proxy }}</span>
                        {% else %}
                            <span class="bot-proxy-down">{{ bot.proxy }}</span>
                        {% endif %}
                    </p>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
