{% extends 'base.html' %}



{% block content %}
    <div class="bot-type-selector">
        <p>Managers</p>
        <p>Parsers</p>
    </div>
    <table>
        <tr>
            <th>Nickname</th>
            <th>Scope</th>
            <th>Messages</th>
            <th>New chats</th>
            <th>Proxy</th>
            <th>Unread messages in manual</th>
        </tr>
    {% for bot in bots %}
        <tr>
            <td>{{ bot.nickname }}</td>
            <td>{{ bot.scope }}</td>
            <td>{{ bot.messages_count }}</td>
            <td>{{ bot.chats_ratio }}</td>

            {% if bot.proxy_status %}
                <td class="bot-proxy-up">{{ bot.proxy }}</td>
            {% else %}
                <td class="bot-proxy-down">{{ bot.proxy }}</td>
            {% endif %}

            <td>{{ bot.unread_messages }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}