{% extends 'update_form.html' %}

{% block title %}
    Campaign
{% endblock %}

{% block form_header %}
    Campaign
{% endblock %}

{% block entity %}
    campaign
{% endblock %}

{% block inner_head %}
    <link rel="stylesheet" href="/static/campaign.css">
    <link rel="stylesheet" href="/static/filters.css">
{% endblock %}

{% block fields %}
    <form action="/campaigns/{{ campaign.id }}" method="post">
        <div class="row">
            <label for="campaign_scope" class="field-label">Scope</label>
            <input class="input-field" id="campaign_scope" name="campaign_scope" value="{{ campaign.scope }}">
        </div>
        <div class="row">
            <label for="campaign_welcome_message" class="field-label">Welcome Message</label>
            <textarea class="input-field" id="campaign_welcome_message"
                      name="campaign_welcome_message">{{ campaign.welcome_message }}</textarea>
        </div>
        <div class="row">
            <label for="campaign_chats" class="field-label">Chats</label>
            <textarea class="input-field" id="campaign_chats"
                      name="campaign_chats">{{ campaign.chats | join(", ") }}</textarea>
        </div>
        <div class="row">
            <label for="campaign_plus_keywords" class="field-label">Plus Keywords</label>
            <textarea class="input-field" id="campaign_plus_keywords"
                      name="campaign_plus_keywords">{{ campaign.plus_keywords | join(", ") }}</textarea>
        </div>
        <div class="row">
            <label for="campaign_minus_keywords" class="field-label">Minus Keywords</label>
            <textarea class="input-field" id="campaign_minus_keywords"
                      name="campaign_minus_keywords">{{ campaign.minus_keywords | join(", ") }}</textarea>
        </div>
        {% set campaign_chat_interval_start, campaign_chat_interval_end = campaign.chat_answer_wait_interval_seconds.split("-") %}
        {% set campaign_welcome_wait_start, campaign_welcome_wait_end = campaign.new_lead_wait_interval_seconds.split("-") %}
        <div class="row">
            <label class="field-label">In-chat answer delay interval (seconds)</label>
            <div class="splitted-row">
                <div class="splitted-row-element">
                    <label for="campaign_chat_interval_start" class="field-label sub-field-label">from:</label>

                    <input type="number" class="input-field" id="campaign_chat_interval_start"
                           name="campaign_chat_interval_start" value="{{ campaign_chat_interval_start }}">
                </div>

                <div class="splitted-row-element">
                    <label for="campaign_chat_interval_end" class="field-label sub-field-label">to:</label>

                    <input type="number" class="input-field" id="campaign_chat_interval_end"
                           name="campaign_chat_interval_end" value="{{ campaign_chat_interval_end }}">
                </div>
            </div>
        </div>
        <div class="row">
            <label class="field-label">Welcome message delay interval (seconds)</label>
            <div class="splitted-row">
                <div class="splitted-row-element">
                    <label for="campaign_welcome_wait_start" class="field-label sub-field-label">from:</label>
                    <input type="number" class="input-field" id="campaign_welcome_wait_start"
                           name="campaign_welcome_wait_start" value="{{ campaign_welcome_wait_start }}">
                </div>
                <div class="splitted-row-element">
                    <label for="campaign_welcome_wait_end" class="field-label sub-field-label">to:</label>
                    <input type="number" class="input-field" id="campaign_welcome_wait_end"
                           name="campaign_welcome_wait_end" value="{{ campaign_welcome_wait_end }}">
                </div>
            </div>
        </div>
        <div class="row">
            <label for="campaign_gpt_settings_id" class="field-label">GPT Settings</label>
            <select class="select-field" id="campaign_gpt_settings_id" name="campaign_gpt_settings_id">
                {% for gpt_setting in gpt_settings %}
                    <option value="{{ gpt_setting.id }}"
                            {% if gpt_setting.id== campaign.gpt_settings_id %}selected{% endif %}>
                        {{ gpt_setting.id }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="row">
            <input type="submit" value="Save Changes" class="submit-button">
        </div>
    </form>
    <div class="activate-script">
        <h3>Activate Script</h3>
        <br>
        <p>Enter the script ID</p>
        <input type="text" id="script-id" placeholder="script ID">
        <br>
        <p>Enter the bots mapping</p>
        <div id="bots-mapping-input-container">

        </div>
        <br>
        <button>Activate Script</button>
    </div>
    <template id="bot-entry-template">
        <div class="bot-entry-container">
            <div class="bot-index-container">
                <p id="bot-index"></p>
            </div>
            <div class="bot-username-container">
                <div class="custom-select-wrapper">
                    <div class="custom-select" tabindex="0" id="custom-select">
                        <span id="selected-option" class="selected-option">All</span>
                        <span>&#9660;</span>
                    </div>
                    <div class="custom-select-options" id="custom-select-options">
                        {# Options will be inserted by js #}
                    </div>
                </div>
            </div>
        </div>
    </template>

    <script>
        document.addEventListener("DOMContentLoaded", async function () {
            let botsCount;
            document.querySelector(".activate-script button").addEventListener("click", async function () {
                let bots_mapping = {};
                let usernamesSpans = document.querySelectorAll(".selected-option");
                for (let i = 0; i < botsCount - 1; i++) {
                    console.log(i, usernamesSpans[i]);
                    bots_mapping[(i + 1).toString()] = usernamesSpans[i].textContent;
                }
                let body = JSON.stringify({
                        script_id: document.querySelector(".activate-script input#script-id").value,
                        campaign_id: "{{ campaign.id }}",
                        bots_mapping: bots_mapping
                    })
                let response = await fetch("/scripts/activate", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: body
                });

                if (response.ok) {
                    alert("Script activated successfully");
                } else {
                    alert("Failed to activate script");
                    console.log(await response.json())
                    console.log(body);
                }
            });

            let scriptIdInput = document.querySelector(".activate-script input#script-id");
            scriptIdInput.onblur = async function () {
                let scriptId = scriptIdInput.value;
                {
                    let response = await fetch(`/scripts/bots-count/${scriptId}`, {
                            method: 'GET'
                        }
                    )

                    if (!response.ok) {
                        alert("Error while retrieving script");
                        return;
                    }

                    var scriptBotsCount = Number.parseInt(await response.json());
                }
                let botEntryTemplate = document.getElementById("bot-entry-template").content
                let botsMappingInputContainer = document.getElementById("bots-mapping-input-container");

                botsMappingInputContainer.textContent = '';

                for (let i = 1; i <= scriptBotsCount; i++) {
                    let newMessage = document.importNode(botEntryTemplate, true);
                    newMessage.getElementById("bot-index").innerText = i.toString();
                    botsMappingInputContainer.appendChild(newMessage);
                }
                let bots;
                {
                    let response = await fetch(`/bots/entities`, {
                            method: 'GET'
                        }
                    )

                    if (!response.ok) {
                        alert("Error while retrieving bots");
                        return;
                    }

                    bots = await response.json();
                }
                botsCount = bots.length;
                if (!botsCount) return;
                const botOptions = Array.from({length: botsCount}, (_, i) => `<div class="custom-select-option" data-value="${bots[i]}">${bots[i]}</div>`).join('');
                document.querySelectorAll(".custom-select-options").forEach(select => {
                    select.insertAdjacentHTML("afterbegin", botOptions);
                });
                let event = new CustomEvent("optionsInserted");
                document.dispatchEvent(event);
            };

            document.addEventListener("optionsInserted", async function () {
                const customSelects = document.querySelectorAll('.custom-select-wrapper');

                customSelects.forEach(selectWrapper => {
                    const select = selectWrapper.querySelector('.custom-select');
                    const options = selectWrapper.querySelector('.custom-select-options');

                    select.addEventListener('click', function () {
                        console.log(select);
                        options.classList.toggle('active');
                    });

                    options.querySelectorAll('.custom-select-option').forEach(option => {
                        option.addEventListener('click', function () {
                            const selectedOption = select.querySelector('span');
                            selectedOption.textContent = this.textContent;
                            options.classList.remove('active');
                        });
                    });
                });

                document.addEventListener('click', function (e) {
                    customSelects.forEach(selectWrapper => {
                        const select = selectWrapper.querySelector('.custom-select');
                        const options = selectWrapper.querySelector('.custom-select-options');
                        if (!select.contains(e.target)) {
                            options.classList.remove('active');
                        }
                    });
                });
            });
        });
    </script>
{% endblock %}
