{% extends 'base.html' %}

{% block title %}
Bot overview
{% endblock %}

{% block head %}
<link href="/static/slider.css" rel="stylesheet">
<link href="/static/common.css" rel="stylesheet">
<link href="/static/form.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Bot details</h1>
    <p>Now you can finalize the bot.</p>
    <form action="/bot/new/finalize" method="post">
        <div class="row">
            <label for="status" class="field-label">Status</label>
            <label class="switch">
                <input type="checkbox" id="status" name="status" {% if bot.status== 'active' %}checked{% endif %}>
                <span class="slider round"></span>
            </label>
        </div>

        <div class="row">
            <label for="username" class="field-label">Username</label>
            <input class="input-field" type="text" id="username" name="username" value="{{ bot.username }}" required>
        </div>

        <div class="row">
            <label for="bio" class="field-label">Bio</label>
            <textarea class="input-field" id="bio" name="bio">{{ bot.bio }}</textarea>
        </div>

        <div class="row">
            <label for="app_id" class="field-label">App ID</label>
            <input class="input-field" type="text" id="app_id" name="app_id" value="{{ bot.app_id }}" required readonly>
        </div>

        <div class="row">
            <label for="app_hash" class="field-label">App hash</label>
            <input class="input-field" type="text" id="app_hash" name="app_hash" value="{{ bot.app_hash }}" required
                   readonly>
        </div>

        <div class="row">
            <label for="session_string" class="field-label">Session string</label>
            <input class="input-field" type="text" id="session_string" name="session_string"
                   value="{{ bot.session_string }}" required readonly>
        </div>

        <div class="row">
            <label for="proxy" class="field-label">Proxy</label>
            <input class="input-field" type="text" id="proxy" name="proxy"
                   placeholder="http://user:pass@host:port" value="{% if bot.proxy %}{{ bot.proxy }}{% endif %}">
        </div>

        <div class="row">
            <label for="campaign_id" class="field-label">Campaign</label>
            <select class="select-field" id="campaign_id" name="campaign_id">
                <option value="">Select campaign</option>
                {% for campaign in campaigns %}
                <option value="{{ campaign.id }}">
                    {{ campaign.scope }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="row">
            <label for="role" class="field-label">Role</label>
            <select class="select-field" id="role" name="role">
                <option value="manager" {% if bot.role=='manager' %}selected{% endif %}>Manager</option>
                <option value="parser" {% if bot.role=='parser' %}selected{% endif %}>Parser</option>
            </select>
        </div>

        <div class="row">
            <input type="submit" value="Save Changes" class="submit-button">
        </div>
    </form>
</div>
{% endblock %}