{% extends 'base.html' %}

{% block title %}GPT Settings{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/item_cards.css">
<link rel="stylesheet" href="/static/common.css">
{% endblock %}

{% block content %}
<div class="vertical-container" style="gap:0">
    <!--    Button to add a new campaign -->
    <div class="horizontal-container" style="align-items: end;">
        <a href="/gpt/new" class="button" style="width: fit-content;">New GPT Setting</a>
    </div>

    <div class="cards-container">
        {% for gpt_setting in gpt_settings %}
        <a href="/gpt/{{ gpt_setting.id }}">
            <div class="item-card">
                <h3>{{ gpt_setting.id }}</h3>
                <p><strong>Model:</strong> {{ gpt_setting.model }}</p>
                <p><strong>Assistant:</strong> {{ gpt_setting.assistant }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
