{% extends 'base.html' %}

{% block title %}
    Create New Bot
{% endblock %}

{% block head %}
    <link href="/static/form.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Create a New Bot</h1>
    <p>Here you can create a new bot.</p>
    <form action="/bot" method="post">
        <div class="row">
            <label for="phone" class="field-label required">Phone Number</label>
            <input class="input-field" id="phone" name="phone" placeholder="+79528120000" pattern="^\+[0-9]*$" required inputmode="tel">
        </div>
        <div class="row">
            <label for="app_id" class="field-label required">APP ID</label>
            <input class="input-field" id="app_id" name="app_id" placeholder="1234567" required inputmode="numeric">
        </div>
        <div class="row">
            <label for="app_hash" class="field-label required">APP Hash</label>
            <input class="input-field" id="app_hash" name="app_hash" placeholder="0123456789abcdef0123456789abcdef" required>
        </div>
        <div class="row">
            <label for="proxy" class="field-label">Proxy</label>
            <input class="input-field" id="proxy" name="proxy" placeholder="socks5://address:port">
        </div>
        <div class="row">
            <input type="submit" value="Create Bot" class="submit-button">
        </div>
    </form>
</div>
{% endblock %}
