{% extends 'bot.html' %}

{% block specific_fields %}
    <div class="row">
        <label for="bot_positive_keywords" class="bot-field-label">Positive_keywords</label>
        <textarea class="bot-field" id="bot_positive_keywords" name="bot_positive_keywords" readonly>bot.positive_keywords</textarea>
    </div>
    <div class="row">
        <label for="bot_negative_keywords" class="bot-field-label">Bot negative_keywords</label>
        <textarea class="bot-field" id="bot_negative_keywords" name="bot_negative_keywords" readonly>bot.negative_keywords</textarea>
    </div>
    <div class="row">
        <label for="bot_chats" class="bot-field-label">Chats</label>
        <textarea class="bot-field" id="bot_chats" name="bot_chats" readonly>bot.chats</textarea>
    </div>
{% endblock %}