{% extends 'base.html' %}

{% block title %}
Prompts
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='/prompts.css') }}">
{% endblock %}

{% block content %}
<div>
    {% for prompt in prompts %}
        <div class="row">
            <label for="prompt-text" class="prompt-aim">{{ prompt.aim }}</label>
            <textarea id="prompt-text" class="prompt-text-field" readonly>{{ prompt.prompt }}</textarea>
        </div>
    {% endfor %}
</div>
{% endblock %}