aio-pika==9.4.3
aiormq==6.8.0
annotated-types==0.7.0
APScheduler==3.10.4
beanie==1.26.0
click==8.1.7
dnspython==2.6.1
idna==3.7
lazy-model==0.2.0
motor==3.5.1
multidict==6.0.5
pamqp==3.3.0
pydantic==2.8.2
pydantic-settings==2.4.0
pydantic_core==2.20.1
pymongo==4.8.0
python-dotenv==1.0.1
pytz==2024.1
six==1.16.0
toml==0.10.2
typing_extensions==4.12.2
tzlocal==5.2
yarl==1.9.4
