.chat-viewport {
    flex: 3;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: calc(var(--padding) / 2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%
}

.no-chat-selected {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: var(--text-color);
    font-size: 1.2em;
}