.messages {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    overflow-y: auto;
    padding: 10px 10px;
}

.messages {
    border-bottom: 1px solid var(--input-background);
}

.messages {
    --mask: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1) 97%, rgba(0, 0, 0, 0) 98.5%, rgba(0, 0, 0, 0)) 100% 20% / 100% 100% repeat-x;

    -webkit-mask: var(--mask);
    mask: var(--mask);
}
